promotional website for _ water.

pexels.com searches: drink,

----------------------------------------------------
landing page:
-background for landing page with countdown 
Watch out!. I'm coming to manila in 
99 days, 23 hours, 59 min and 59 sec
missing: landing bg???

---------------------------------------------------
references:
landing page
https://gist.github.com/AshikNesin/368e4d490845dc7dc018
https://hackernoon.com/how-to-build-a-website-with-bootstrap-4-beta-cfbafbab8dcb

-----
home page
- navbar (sidebar):
	- background color: transparent or pink
	- align: right
	- font: white
	- toggler icon: white or navy blue
*if bg is not in stated in bootstrap like pink it will return transparent



contact
google map

