promotional website for _ water.

pexels.com searches: drink,

----------------------------------------------------
landing page:
-background for landing page with countdown 
Watch out!. I'm coming to manila in 
99 days, 23 hours, 59 min and 59 sec
missing: landing bg???

---------------------------------------------------
references:
landing page
https://gist.github.com/AshikNesin/368e4d490845dc7dc018
https://hackernoon.com/how-to-build-a-website-with-bootstrap-4-beta-cfbafbab8dcb

-----
home page
- navbar (sidebar):
	- background color: transparent or pink
	- align: right
	- font: white
	- toggler icon: white or navy blue
*if bg is not in stated in bootstrap like pink it will return transparent

seolhyun - wake up to a pleasant morning with a fresh and organic lemondMade 
what are you waiting for? Order your fresh and organic lemonMade now!



contact
google map

-----
requirements:
d1 portfolio 
	responsive design
	email
	name
	picture
	link to cap 1
	skills
	social links
cap1
	min of 5 pages linked
	landing page
	no templates
	responsive design 3 devices
	all pages have a navbar and a footer
	no dead links
	social links
	no internal/inline css
	dont make a bootstrap website
	no lrem ipsum
	no pixelated stretched images
	write a disclaimer section when forced touse a copyrighted material
	no horizontal scroll

d1 landing page
d2 home
d2 contact
d3 about
d3 gallery
d4		mobile and tablet responsive
d4		content writing
d5		hosting
d5		presentation

------
sites:
https://coolors.co/
w3schools 


site resources for content:
dalandan:
https://www.allaboutdiabetes.net/dalandan-health-benefits/
https://www.forbes.com/sites/cheryltiu/2015/11/30/philippine-fruits-calamansi-and-dalandan-can-now-be-served-as-shots-on-the-rocks-or-as-a-cocktail-thanks-to-manille-liqueur/#42c0878e2596
http://www.marketmanila.com/archives/dalandan
https://www.tagaloglang.com/dalandan/
https://www.specialtyproduce.com/produce/Dalandan_Oranges_8670.php
lemondmade:
https://www.sunrisemilk.com/contact-us
https://www.santacruzorganic.com/our-commitment/organic-matters - juice organic non gmo and organic
http://ojam.kr/index.php?mid=girlimage&order_type=desc&page=578&sort_index=title&listStyle=list&document_srl=11288&m=1 - suzy image