* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-family: 'Special Elite', cursive;
}

/*all pages*/

/*navbar*/
.font-italic {
	color: 	#5B8930; 
}

.font-italic:hover {
	color: #F7CA18; /*ripe lemon yellow*/
}

.jumbotron {
	background-color: transparent;
}

.jumbotron h1 {
	/*color: #e9e9e9;*/
	letter-spacing: 3px;
}

p {
	font-family: 'Oswald', sans-serif;
}

/*index*/

body.landing {
	background-repeat: no-repeat;
	background-size: cover;
/*	color: #141414;*/
	background-image: url(../images/suzy6.png);
}

#jumbotron-landing {
	margin: 0 auto;
	width: 100%;
	height: 100vh;
	padding-top: 25vh;
	padding-bottom: 25vh;
	margin-bottom: 0;
	border-radius: 0;
}

#landing-button {
	font-weight: 700;
}

#landing-button:hover {
	color: #F7CA18; /*ripe lemon yellow*/
	font-weight: 700;
}


/*home*/

.slider {
	height: 90vh;
}

body.home {
	background-repeat: no-repeat;
	background-size: cover;
/*	color: #141414;*/
	background-image: url(../images/bgb2.png);
}

/*about*/
#landing-about {
	font-size: 5em;
	padding-top: 20vh;
	letter-spacing: 5px;

}

body.about {
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../images/bgb3.png);
}

.fadeIn {
	animation-duration: 5s;
	animation-delay: 2s;
}

#mission {
	height: 100%;
	background-color: #141414;
	color: #f2f2f2;
}

.about-tags {
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

#vision {
	height: 100%;
	background-color: #f2f2f2;
	color: #141414;
}


.myframe {
	width: 100%;
	height: 300px;
}

/*contact*/
#contact-button:hover {
	color: #141414;
	font-weight: 700;
}

li {
	list-style-type: none;	
}





/*media queries*/

/*mobile style*/

@media only screen and (max-width: 400px) {
	body {
		background-color: #F09A9D; /*red*/
	}
}

/*tablet style*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
	body {
		background-color: #F5CF8E; /*yellow*/
	}

	.sign-up,
	.feature-1,
	.feature-2,
	.feature-3 {
		width: 50%;
		float: left;
	}
}

/*desktop style*/
@media only screen and (min-width: 961px) {
	body {
		background-color: #B2D6FF; /*blue*/
	}

	.page {
		width: 960px;
		margin: 0 auto;
	}

	.feature-1,
	.feature-2,
	.feature-3 {
		width: 33.33%;
		float: left;

	.header {
		height: 400px;
	}	
}